/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Utilities */
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-bottom: 20px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* Top players */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/* Top Blogs */
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

/* Latest couses */
.course .course-banner img {
  width: 100%;
  height: 104px;
}
.course-info {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.course {
  height: 270px;
  width: 255px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05);
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.fa-star {
  font-size: 12px;
}
.course-duration {
  padding: 6px;
  border-radius: 15px;
  background-color: #ffe4e8;
  color: #ff4a60;
}

/*------------
Media Query 
-------------*/

/* mobile devices */
@media (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* table devices */
@media (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* navbar */
.navbar img {
  width: 51px;
  height: 51px;
  margin-right: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 94px;
  background-color: #562eff;
  color: white;
}
.navbar-items {
  display: flex;
  align-items: center;
}
.navbar-items a {
  text-decoration: none;
  color: white;
  margin: 0 30px;
}
.navbar-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.navbar-icon h1 {
  font-weight: 500;
}
.navbar-icon .fa-lightbulb {
  font-size: 51px;
  margin-right: 10px;
}
